EXPO_PUBLIC_SUPABASE_URL=https://pusvdkhfhiqwybzvyxck.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1c3Zka2hmaGlxd3lienZ5eGNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQxMjU0NjQsImV4cCI6MjA5OTcwMTQ2NH0.OuZnxQM_teWEdKasIEo2bFJAz-p_2qskBMjXDmVGohg
